<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{%- include head.html -%}

<body>

{%- include header.html -%}

<div class="py-5">
    <div class="container page-content">
        {{ content }}
    </div>
</div>

<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- Button trigger modal -->
                <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Launch demo modal</a>

                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Modal title</h4>
                            </div>
                            <div class="modal-body">
                                <a href="#"  role="button" tabindex="-1" id="example" class="btn btn-default" data-toggle="popover" data-trigger="focus" title="Litigation is risky">Click and Pop</a>
                            </div>
        </div>
    </div>


    {%- include footer.html -%}

</body>

</html>
